:root {
--red-50: rgba(254, 230, 230, 1);
--red-100: rgba(251, 178, 178, 1);
--red-200: rgba(249, 140, 140, 1);
--red-300: rgba(246, 88, 88, 1);
--red-400: rgba(245, 55, 55, 1);
--red-500: rgba(242, 5, 5, 1);
--red-600: rgba(220, 5, 5, 1);
--red-700: rgba(172, 4, 4, 1);
--red-800: rgba(133, 3, 3, 1);
--red-900: rgba(102, 2, 2, 1);
--orange-50: rgba(255, 240, 230, 1);
--orange-100: rgba(255, 208, 176, 1);
--orange-200: rgba(255, 185, 138, 1);
--orange-300: rgba(255, 152, 84, 1);
--orange-400: rgba(255, 133, 51, 1);
--orange-500: rgba(255, 102, 0, 1);
--orange-600: rgba(232, 93, 0, 1);
--orange-700: rgba(181, 72, 0, 1);
--orange-800: rgba(140, 56, 0, 1);
--orange-900: rgba(107, 43, 0, 1);
--yellow-50: rgba(251, 250, 230, 1);
--yellow-100: rgba(243, 239, 177, 1);
--yellow-200: rgba(238, 231, 140, 1);
--yellow-300: rgba(230, 220, 87, 1);
--yellow-400: rgba(225, 213, 54, 1);
--yellow-500: rgba(217, 203, 4, 1);
--yellow-600: rgba(197, 185, 4, 1);
--yellow-700: rgba(154, 144, 3, 1);
--yellow-800: rgba(119, 112, 2, 1);
--yellow-900: rgba(91, 85, 2, 1);
--green-50: rgba(231, 254, 230, 1);
--green-100: rgba(180, 251, 178, 1);
--green-200: rgba(144, 249, 140, 1);
--green-300: rgba(93, 246, 88, 1);
--green-400: rgba(61, 245, 55, 1);
--green-500: rgba(13, 242, 5, 1);
--green-600: rgba(12, 220, 5, 1);
--green-700: rgba(9, 172, 4, 1);
--green-800: rgba(7, 133, 3, 1);
--green-900: rgba(5, 102, 2, 1);
--blue-50: rgba(230, 248, 255, 1);
--blue-100: rgba(176, 234, 255, 1);
--blue-200: rgba(138, 224, 255, 1);
--blue-300: rgba(84, 209, 255, 1);
--blue-400: rgba(51, 201, 255, 1);
--blue-500: rgba(0, 187, 255, 1);
--blue-600: rgba(0, 170, 232, 1);
--blue-700: rgba(0, 133, 181, 1);
--blue-800: rgba(0, 103, 140, 1);
--blue-900: rgba(0, 79, 107, 1);
--purple-50: rgba(242, 230, 254, 1);
--purple-100: rgba(214, 178, 251, 1);
--purple-200: rgba(195, 140, 249, 1);
--purple-300: rgba(167, 88, 246, 1);
--purple-400: rgba(150, 55, 245, 1);
--purple-500: rgba(124, 5, 242, 1);
--purple-600: rgba(113, 5, 220, 1);
--purple-700: rgba(88, 4, 172, 1);
--purple-800: rgba(68, 3, 133, 1);
--purple-900: rgba(52, 2, 102, 1);
--magenta-50: rgba(254, 230, 250, 1);
--magenta-100: rgba(251, 178, 239, 1);
--magenta-200: rgba(249, 140, 231, 1);
--magenta-300: rgba(246, 88, 220, 1);
--magenta-400: rgba(245, 55, 213, 1);
--magenta-500: rgba(242, 5, 203, 1);
--magenta-600: rgba(220, 5, 185, 1);
--magenta-700: rgba(172, 4, 144, 1);
--magenta-800: rgba(133, 3, 112, 1);
--magenta-900: rgba(102, 2, 85, 1);
--black-50: rgba(231, 231, 231, 1);
--black-100: rgba(180, 180, 180, 1);
--black-200: rgba(144, 144, 144, 1);
--black-300: rgba(93, 93, 93, 1);
--black-400: rgba(61, 61, 61, 1);
--black-500: rgba(13, 13, 13, 1);
--black-600: rgba(12, 12, 12, 1);
--black-700: rgba(9, 9, 9, 1);
--black-800: rgba(7, 7, 7, 1);
--black-900: rgba(5, 5, 5, 1);
}